/****************************/
/* MRC Research             */
/****************************/

/* site layout              */

/*
html, body{margin:0 0 5px 0; padding:0; background:#E4E4E4 url("../images/stylesheet/grad-bg.jpg") repeat-x;}
body {font: 12px Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;  margin-bottom: 0; padding-bottom: 0; }
*/

li {font-size: 12px;line-height: 15px;}
h1,h2,h3 {font: 26px georgia, times, serif; color:#AF3F36; }
h1 {font-weight: bold;}
h2 {font-size:22px;margin-bottom: 5px;}
h3 {font-size:18px; margin-bottom: 5px;}
a {color:#35718F; text-decoration: none; border-bottom: 1px dotted #35718F;}
a:hover {border-bottom: 1px solid;}
p { margin:0 0 5px 0;
    font-size:12px;
    line-height: 15px;
}

a.plain {
	border:none;
}

.h2rev {
    background-color: #AF3F36;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font: 16px georgia, times, serif;
    color: #FFFFFF;
}

.enfasis {color:#AF8E36; font: 11px georgia, times, serif;}
span.codedirection {unicode-bidi:bidi-override; direction: rtl;}

hr { width:90%; color: #E4E4E4;}

/***********************************/

/* header items */

#mrc_header {
	background:#658DB1 url(../images/stylesheet/header-bg.jpg) repeat-x bottom;
	height:122px;
	margin:0px;
	width:100%;
}

#mrc_header_center {
	background:url(../images/stylesheet/header-bg-center.jpg) repeat-x bottom;
	height:122px;
	width:960px;
	margin:0px auto;
	position:relative;
}

#mrc_logo {
	float:left;
	position:relative;
	top:17px;
}

#mrc_header #mrc_header-nav,
#mrc_header #mrc_header-nav a {
	color:white;
    border-bottom:none;
}

#mrc_header-nav {
	display:block;
	float:right;
	text-align:right;
	position:absolute;
	top:72px;
	right:0px
}

#mrc_header_help {
    display:block;
    float:left;
    text-align:left;
    position:absolute;
    top:15px;
    left:170px;
    color:#CCFFCC;

}

#mrc_header a{
	text-decoration:none;
    font-weight:bold;
    border-bottom:none;
}

#header-search {
	margin-left:20px;
}



/* white horizontal menu under header */

#mrc_sub_header {
	background: white url(../images/stylesheet/sub-header-bg.jpg) repeat-x bottom;
	height:31px;
	clear:both;
	width:100%;
	padding:0px 0px 0px 0px;
	font: bold 12px arial,Verdana,Trebuchet MS,Helvetica,sans-serif;
	white-space: nowrap;
	text-align: center
}

#mrc_sub_header #mrc_sub_header_headermenu{
	width:980px;
	margin:0 auto;
    white-space:nowrap;
    
}

#mrc_sub_header img {
	vertical-align:middle;
	}

#mrc_sub_header a{
	color:black;
	text-decoration:none;
	padding:0px ;
	text-transform:uppercase;
    border-bottom:none;
	white-space: nowrap;
}

* html #mrc_sub_header a{
	font-size:11px;

}

#mrc_sub_header a:hover,
#mrc_sub_header a.selected {
	color:#298BA4;

}




/*content blue wrapper */

#mrc_container{
	text-align:left;
	background:#093f5b;
	width:960px;
	margin:0px auto;
	padding:10px 0 0px 0;
}


#mrc_content {
	margin:0px;
	padding:10px 0 0 0;
}

#mrc_content p{
	line-height:1.4
}



 /* Left menu */

#mrc_navigation{
	float:left;
	width:158px;
	margin-top:55px;
}

#mrc_navigation_plates{
    width:158px;
    margin-top:25px;
}

#mrc_navigation ul{
	list-style:none;
	width: 158px;
	padding:0px;
	padding-left:0px;
	margin:0px;
}


#mrc_navigation .item{
	position:relative;
	margin-top: 1px;
	margin-bottom: 1px;
	padding:5px 0px 5px 10px;

	width:150px;
	display: block;
	float: left;
	/*letter-spacing: .3px;*/
	/*border-top:1px dotted #cccccc;*/
	background: url('../images/stylesheet/nav_dotbl_separator.gif') no-repeat top left;
	padding-top:9px;
}

#mrc_navigation ul ul li,
#mrc_navigation .subitem{
	position: relative;
	margin:5px 0px;
	padding:5px 0px;
	display: block;
	left:-10px;
}


#mrc_navigation .sub_item{
	text-align:left;
	display: inline;
	margin:5px 0px 5px 20px;
}


#mrc_navigation ul ul,
#mrc_navigation .item ul {
	margin:0px;
	padding-left:20px;
	width:120px;
}

#mrc_navigation ul li a{
	text-decoration:none;
    border-bottom:none;
	color:white;
	font: bold 11.55px Arial,Verdana,Trebuchet MS,Helvetica,sans-serif;
}

#mrc_navigation ul li a:hover{
	color:#bccdd6;
}

#mrc_navigation ul ul li,
#mrc_navigation .subitem {
	margin:0px;
	height:9px;
}

#mrc_navigation ul ul li a,
#mrc_navigation .subitem a{
	font-size:10.4px !important;
	font-weight:normal;
}

#mrc_navigation .selected:hover,
#mrc_navigation .selected a:hover,
#mrc_navigation .selected {
	color:#33CCFF;
}


#mrc_navigation ul.show {
	display:block !important;
}

#mrc_navigation ul.hide {
	display:none  !important;
}



 /* white container with content text and roudned corneres*/

#main_content {
	background: url("../images/stylesheet/main-bg.png") repeat-y ;
	width:707px;
	padding:0px 25px;
	margin:0px 0px 10px 184px;

}

#main_content tr {
	border-top: 1px solid black;
}

#main_content td {
    line-height: 15px;
}

#main_content_top {
	width:757px;
	height:10px;
	margin-top:0px;
	position:relative;
	left:-25px;
    background:url("../images/stylesheet/main-top.png") no-repeat top left;
    margin-bottom:15px;
}

#main_content_bottom {
    width:757px;
    height:10px;

    position:relative;
    left:-25px;

    background:url("../images/stylesheet/main-bottom.png") no-repeat bottom left;
    margin-top:15px;

}




#main_content_top {

}

#main_content_bottom {

}


* html #main_content_top,
* html #main_content_bottom { /*ugly  IE6 Hack */
	left:auto;
	position:absolute;
	margin-left:-25px;
	margin-top:-15px;
}

* html #main_content { /*ugly  IE6 Hack */
    padding:15px 25px 0px 25px;
}




 /* Footer */

#mrc_footer{
	background: #E4E4E4;
	color: #4F7A92;
	margin:10px auto 0 auto;
	padding-top:10px;
	clear:both;
	width:950px;
	text-align:center;

font: 11.2833px	arial,sans-serif;

}

#mrc_footer a{
	text-decoration:none;
	color: #4F7A92;
	padding-right:5px;
font-weight:bold;
border-bottom:none;
}


/********************/
/* RESEARCH module  */
/********************/


#research_topics{
	display: block;
	float: left;
	width: 300px;
}

#filter_topics{
	position: relative;
	display: block;
	float: right;
	width: 300px;
}

#research_filter_topics{
	width: 700px;
}
.research_main h1 {
    margin:0px 0px 5px 0px;
}

#controls {
	float:right;
	width:150px;
	z-index:1000;
	position:relative;
	padding:0 0 20px 12px;
	background:white;
}

#controls a {
	text-decoration:none;
    border-bottom:none;
}

#controls a:hover {
	text-decoration:underline;
    border-bottom:none;
}

#controls .subselection ul {
	padding-left:15px;
	margin:0px;
	color:#AF3F36;
	list-style-type: circle;
/*	list-style-image:url("../images/stylesheet/arrow.gif"); */
}

#controls a.selected {
	font-weight:bold !important;
}

#controls button{
    font-size: 10px;
}

#controls td {
    font-size: 12px;
}

#controls .typeselection a{
	font: 12px georgia, times, serif;
	color:#AF3F36;
}

#controls .typeselection,
#controls .subselection span  {
	padding:7px 0px;
	border-bottom:1px solid #555;
	display:block;
}

#controls .subselection span {
	font: bold 14px georgia, times, serif;
	color:#AF3F36;
}

#controls .subselection a {
	color:black;
}

#controls #ctrl_faculty a,
#controls #ctrl_department a,
#controls #ctrl_topic a,
#controls #ctrl_keyword a,
#controls #ctrl_targetyear a {
	color:#35718F;
	font-size:10px;
}

#controls #ctrl_keyword {
	color:#555;
	font-size:10px;
}

#listresearchers {
	position:relative;
	background:white;
	padding:10px 0px;
}

#listresearchers .researcher {
	border-bottom:1px solid #bbb;
	padding:10px 0px 10px 0px;

}


#listresearchers .researcher h3,
#listresearchers .researcher h4 {
	margin:0px 0px 5px 0px;
	font-size:12px;
	font-weight:bold;
	color:#333;
    font-family: arial, sans-serif;
}

#listresearchers .researcher h4 {
	margin-top:10px;
}

#listresearchers .researcher .keywords {
	font-style:italic;
	color:#333;
}

#listresearchers .researcher ul {
	list-style:disc;
	color:#35718F;
	margin:0px;
	padding:0px 0px 0px 13px;
}

#listresearchers .researcher ul li a{
    font-style: normal;
    font-weight: bold;
    font-family: Arial,Verdana,Trebuchet MS,Helvetica,sans-serif;
    font-size:12px;
}

#viewresearcher  {
    width:550px;
}

#viewresearcher ul {
	list-style:disc;
	color:#35718F;
	margin:0px;
	padding:0px 0px 0px 13px;
}



#viewresearcher .keywords {
	font-style:italic;
	color:#333;
}

#viewresearcher  h2{
	font-size:16px;
}
#viewresearcher .withimage .profiletext {
    margin:0px 0px 20px 200px;
    width: 280px;

}

#viewresearcher .profiletext {
	text-align: justify;
}

#viewresearcher .secondsection {
	margin:0px 0px 20px 0px;
    /*clear:right;*/
    width:700px;
}
#viewresearcher .withoutimage .secondsection {
    margin:0px 0px 20px 0px;

    width:700px;
}


#viewresearcher .personaldetails {
	float:left;
    width:200px;
}

#viewresearcher  td{
    font-size: 12px;
}

#viewresearcher .personaldetails img{
	display:block;
}
#viewresearcher *.cv_title {
    font-weight: bold;
    display:block;
    margin:10px 0px 1px 0px;
}
#viewresearcher *.cv_entries {
    margin-bottom: 3px;
}




#listprojects {
	/*
	position:relative;

    z-index:2;
	*/
	background:white;
	padding:10px 0px;
}

#listprojects .project {
	border-bottom:1px solid #bbb;
	padding:10px 0px 10px 0px;
}

#listprojects .project h3,
#listprojects .project h4 {
	margin:0px 0px 0px 0px;
	font-weight:bold;
	color:#333;
    font-size:12px;
    color:#333;
    font-family: Arial,Verdana,Trebuchet MS,Helvetica,sans-serif;
}

#listprojects .projsynopsis {
	width:auto;
}

#listprojects .projparticipants {
    font-style: normal;
    margin:0px 0px 5px 0px;
    font-family: Arial,Verdana,Trebuchet MS,Helvetica,sans-serif;
    font-size:11px;
}

#viewproject h2{
	font-size:16px;
	font-weight:bold;
}
#viewproject .projectimagebox {
    float:left;
    width: 155px;
    margin:0px 25px 5px 0px;
    padding-bottom: 20px;
    border-bottom: medium gray ridge;
}

#viewproject .left_col {
	float:left;
	width:200px;
}

#viewproject .left_col img{
	display:block;
}

#viewproject .right_col {
	margin:0px 0px 20px 210px;
}


#research_item_form a{
	color: #AF3F36;
	font-family: georgia,times,serif;
	font-weight: bold;
}
/*
#delete_research_item_form input{
	background-image: url(../images/delete_item.jpg);
	background-repeat: no-repeat;
	width: 85px;
	height: 26px;
	color:rgba(255, 255, 255, 0);

}

#delete_research_item_form button{
	border: none;
	background-color: transparent;

}
#delete_research_item_form input[type="button"]{
	border: none;
	background-color: transparent;

}
#delete_research_item_form input[type="submit"] {
	border: none;
	background-color: transparent;
}
*/

/**********************/
/* Login Logout Forms */
/**********************/
#loginform,
#logoutform {
	position:relative;
	text-align:left;
}

#ajaxyfied {
	margin:20px 20px;
}

#loginform input,
#logoutform input {
	margin-right:10px;
}

#loginform .inputrow,
#loginform .actionsrow,
#logoutform .inputrow,
#logoutform .actionsrow {
	padding:10px 0;
}

#loginform label ,
#logoutform label {
	padding-top:3px;
}

#loginform .inputrow input,
#logoutform .inputrow input {
	position:absolute;
	left:100px;
}

#loginform .actionsrow,
#logoutform .actionsrow {
	padding-left:100px;
}

/************************/
/* COLLAPSIBLE ELEMENTS */
/************************/

#ctrl_faculty {display:none;}
#ctrl_faculty.show {display:block;}

#ctrl_department {display:none;}
#ctrl_department.show {display:block;}

#ctrl_topic {display:none;}
#ctrl_topic.show {display:block;}

#ctrl_keyword {display:none;}
#ctrl_keyword.show {display:block;}

#ctrl_targetyear {display:none;}
#ctrl_targetyear.show {display:block;}


/***********************/
/* CONTENTS AND EXTRAs */
/* Style not related to main style or global page layout but for individual pages */
/***********************/

#index_zizler_external { /*image for index*/
	background: url("../images/index/zizler_external.jpg") no-repeat;
	height:205px;
	width:417px;
	position:relative;
	left:-15px;
}



#index_zizler_internal { /*image for index*/
	background: url("../images/index/zizler_internal.jpg") no-repeat;
	height:304px;
	width:738px;/*  747px � 308px*/
	position:relative;
	left:-15px;
}

* html #index_zizler_internal,
* html #index_zizler_external { /* ugly IE6 Hack*/
	float:left;
}

#index_zizler_external:hover { /*rollover for index image */
	/*background: url("../images/index/people-over.jpg") no-repeat;         */
}

#mrc_content h1 span {
	visibility:hidden;
}


#mrc_content_sections{
	display:block;
	position:relative;
	/*top:-50px;*/
	/*height:1000px;*/
}

#mrc_content_section_2{
	position:relative;
	/*float:left;*/
	/*margin-top:30px;*/
	width:400px;
	min-height:500px;
	margin-left:20px;
	font-family:Arial;
	float: left;
}

#mrc_content_section_2 h2{
	padding-top:20px;
	color:#872319;
}

#mrc_content_section_2 h3{
	border-top: dashed thin black;
	border-bottom: dashed thin black;
	padding-top: 5px;
	padding-bottom: 5px;
	color:#4f7a92;
	font-size: medium;
}


#mrc_content_section_1{
	position:relative;
	float:right;
	font-family:Georgia,serif;
	/*margin-top:50px;*/
	/*padding-left:10px;*/
	padding-right:10px;
	width:230px;
}

#mrc_content_section_1 h3{
	color:#4f7a92;
	font-size: medium;

}

#mrc_content_section_1 p{
	color:#000000;
	font-family:sans-serif;
	font-size: small;
	font-weight: normal;

}


#wrapper_extras{
	display:block;
	position:relative;
	top:-10px;
	/*height:1000px;*/
	padding-bottom:10px;
}


#mrc_extra {
	position:relative;
	/*float:left;*/
	margin-top: 10px;
	width:350px;
	min-height:300px;
	margin-left:0px;
	font-family:Arial;


}

#mrc_extra h2 {
	color:#872319;
}

#mrc_extra2 {
	float:right;
	font-family:Arial;
	margin-top: 0px;
	padding-left:10px;
	/*padding-right:0px; */
	position:relative;
	width:340px;
    border-left: groove medium gray;
}

#mrc_extra2 p,ul{
	font-size: 13px;
	font-style: italic;

}

/* My activities internal page - home */

#myactivities_home {
	background:white;
	position:relative;
}
#myactivities_home h2{
	margin-top:0px;
    margin-bottom: 5px;
	font-size:16px;
    font-weight: bold;
}

#myactivities_home .leftcol{
	/*position:absolute;*/
	left:0px;top:0px;
	width:430px;
	float: left;
}

#myactivities_home .researcher{
	height:200px;
}
#myactivities_home .blog{
	float:left;
	width:210px;
	height:270px;
	margin-top:20px;
	position:relative;
	font-size:12px;
}

#myactivities_home .news{
	float:right;
	width:200px;
	height:270px;
	margin-top:20px;
	position:relative;
	font-size:12px;
}

#myactivities_home .rightcol{
	/*position:absolute;*/
	float: right;
	right:0px;top:0px;
	width:260px
}
#myactivities_home .deadlines {

	position:relative;
}
#myactivities_home .events {

    position:relative;
}

#myactivities_home .events h2 {
    margin-left:0px;
}

#myactivities_home .events p {
    margin:0px 0px 3px 0px;
    }

#myactivities_home .events .deadline_date {
    float:left;
    display:block;
    width:40px;
    text-align:right;
}

#myactivities_home .events .deadline_title {
    margin-left:50px;
    display:block;
    font-size:12px;
}

#myactivities_home .deadlines h2 {
	margin-left:0px;
    margin-top: 20px;
}

#myactivities_home .deadlines p {
	margin:0px 0px 3px 0px;
	}

#myactivities_home .deadlines .deadline_date {
	float:left;
	display:block;
	width:40px;
	text-align:right;
}

#myactivities_home .deadlines .deadline_title {
	margin-left:50px;
	display:block;
	font-size:12px;
}

#myactivities_home .grants {
	margin-top:20px;

	position:relative;
	font-size:11px;
}

#myactivities_home .grants h2 {
    margin-left:0px;

}

#myactivities_home .contents {
	/*float:left;*/
}
#myactivities_home .foot{
	border:1px solid gray;
	border-width:1px 0px;
	position:relative;
	top: 10px;
	bottom:0px;
	height:20px;
	/*width:100%;*/
	/*text-align:right;*/
	padding:5px 5px 3px 0px;
	/*display:inline;*/
}

#myactivities_home .foot a{
	margin:0px;
	padding:0px;
	text-align:right;
	color:#AF3F36;
	font:bold 10.3px georgia, times, serif;
}


/*Alternate Version of My Activities for Tables */


#internal_home_tbls {
}
#internal_home_tbls h2{
    margin-top:0px;
    margin-bottom: 5px;
    font-size:16px;
    font-weight: bold;
}

#internal_home_tbls .contents tr {
	border-top: 1px solid black;
}

#internal_home_tbls .blog{
    font-size:12px;
}

#internal_home_tbls .news{
    font-size:12px;
}


#internal_home_tbls .events h2 {
    margin-left:0px;
}

#internal_home_tbls .events p {
    margin:0px 0px 3px 0px;
    }


#internal_home_tbls .events .deadline_title {
    font-size:12px;
}

#internal_home_tbls .deadlines h2 {
    margin-left:0px;

}

#internal_home_tbls .deadlines p {
    margin:0px 0px 3px 0px;
    }



#internal_home_tbls .deadlines .deadline_title {
    font-size:12px;
}

#internal_home_tbls .grants {
    margin-top:20px;
    font-size:11px;
}

#internal_home_tbls .grants h2 {
    margin-left:0px;
}

#internal_home_tbls .foot{
    border:1px solid gray;
    border-width:1px 0px;
    /* position:relative;*/
    top: 10px;
    bottom:0px;
    height:20px;
    /*width:100%;*/
    /*text-align:right;*/
    padding:5px 5px 3px 0px;
    /*display:inline;*/
}

#internal_home_tbls .foot a{
    margin:0px;
    padding:0px;
    text-align:right;
    color:#AF3F36;
    font:bold 10.3px georgia, times, serif;
}

#internal_home_tbls button {
   font-size: 13px;
}





#myactivities_profile h2 {
   color:#AF3F36;
   font:bold 16px georgia,times,serif;
   padding:7px 0 0 0;
   margin-bottom: 5px;
}

#myactivities_profile textarea input select {
   font-size: 12px;
   font-family: arial, helvetica, sans-serif;
}

#myactivities_researchlist .list{
    font-size: 13px;
}


#myactivities_researchlist form {
background:white;
}

table.itemList {border:none;width:700px;}
table.itemList td,
#myactivities_researchlist td {
    padding: 3px 4px;
}
#myactivities_researchlist .header1 th {
padding:0px;
}

#myactivities_researchlist .header1  h2{
margin:0px;
padding:20px 0px 0px 0px;
font-size:16px;
font-weight: bold;
}

#myactivities_researchlist .header2 th {
padding:10px 3px 3px 3px;
}

#myactivities_researchlist td input {
margin:3px 8px;
}
table.itemList td a,
#myactivities_researchlist td a{
text-decoration:none;
color:#4F7A92;
border-bottom:none;
}
table.itemList td a:hover,
#myactivities_researchlist td a:hover{
text-decoration:underline;
color:#4F7A92;
}
#myactivities_researchlist textarea {
font:10px arial;
width:415px;
border:0px;
padding:2px;
height:25px;
}

.oddrow,
#myactivities_researchlist .oddrow,
#myactivities_researchlist .oddrow textarea{
background:#DFF1FF;
}

#myactivities_researchlist textarea.selected{
border:1px solid gray;
background:white;
background:white !important;
padding:1px;
height:50px;
}

#myactivities_research_item .item_type {
font-weight:bold;
color: #4F7A92;
}

#myactivities_research_item label {
font-weight:bold;
}

#myactivities_research_item input {
font:12px arial;
}

#myactivities_research_item input.month{
width:100px;
}

#myactivities_research_item input.year{
width:100px;
}


#myactivities_research_item input.simple{
width:415px;
}

#myactivities_research_item textarea {
font:12px arial;
width:415px;
padding:2px;
height:50px;
}


/*extra stuff*/

.staticsubhead {
	background-color:#CCCCCC;
	color:#000000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-bottom:7px;
    margin-top:9px;
	padding:2px;
}

/*Front page images */
#Table_01 {
    position:absolute;
    left:0px;
    top:0px;
    width:712px;
    height:226px;
}

#front-page-1-01 {
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:219px;
}

#front-page-1-02 {
    position:absolute;
    left:176px;
    top:0px;
    width:176px;
    height:219px;
}

#front-page-1-03 {
    position:absolute;
    left:352px;
    top:0px;
    width:176px;
    height:219px;
}

#front-page-1-04 {
    position:absolute;
    left:528px;
    top:0px;
    width:177px;
    height:219px;
}

#front-page-1-05 {
    position:absolute;
    left:705px;
    top:0px;
    width:7px;
    height:226px;
}

#front-page-1-06 {
    position:absolute;
    left:0px;
    top:219px;
    width:705px;
    height:7px;
}


/* ******************** STYLES ADDED DURING ANNUAL REPORT UPGRADE ************************** */
/* form field styles */
.smallField, .halfAreaField, .fullAreaField, .fullField .numField {font-size: 13px; font-family:monospace; margin-bottom:7px;}
.smallField {width:200px; }
.numField {width:75px; }
.fullField {width:700px;}
.halfAreaField {width:300px; height:100px;}
.fullAreaField {width:700px; height:200px;}

/* heading types */
.textFieldHeader {margin:0px; padding: 0px 0px 0px 0px; color: rgb(175, 63, 54);
    font-family: georgia,times,serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 16px;
    line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none;}
.toolsHeader {color:#AF3F36;font:bold 14px georgia,times,serif;padding:7px 0;}

/* other */
html {overflow-y: scroll;} /* always show vertical scrollbar in firefox and ie 8 */
.statusMessage {font-size:14px; color:#00f; font-weight:bold;}
.smallStatus {font-size:10px; color:#00f; font-weight:normal;}
/* teaching related */
ul.stripe {background-color:#C0FFFF;}
/* couldn't get this working in all browsers at once
div.annualReportList ul {margin:0; padding:0; list-style-type:none;}
div.annualReportList ul li {float:left; position:relative; font-style:normal; font-variant: normal; font-weight:normal;}
div.annualReportList ul li.summaryText {width:600px; text-align:left;}
div.annualReportList ul li.reportLink {width:80px; text-align:center;}
div.annualReportList ul li.reportLink input {margin-left:30px;}
*/
/* div.annualReportList h3 {clear:right;} */

table.annualReportList {font-size:14px; padding:0; margin:0; border-collapse:collapse;}
table.annualReportList td.column0 {width:625px;}
table.annualReportList td.column1 {width:80px;}
table.annualReportList input {margin-left:50px;}
table.annualReportList tr.stripe {background-color:#C0FFFF;}
table.annualReportList tr.stripe td {padding:0;}
table.annualReportList td {padding-bottom:7px; padding-top:7px;}

input[type="button"],input[type="submit"] {margin-bottom:4px;}

table#annual_report_review {border:1px solid #ccc; width:750px;}
table#annual_report_review th.column0 {width:40px;} /*( year */
table#annual_report_review th.column1 {width:110px;} /* person */
table#annual_report_review th.column2 {width:160px;} /* status */
table#annual_report_review th.column3 {width:120px; } /* comments */
table#annual_report_review th.column4 {width:230px;} /* action */
table#annual_report_review th {font-weight:bold; padding-bottom:6px;}
table#annual_report_review tr {color:#666;}
table#annual_report_review tr.signed {color:#000; font-weight:bold;}
table#annual_report_review td{vertical-align: top;}
tr.odd {background-color:#E5EFF6;}
tr.odd td {padding:0;}

#cv_item_form h2 {padding:0; margin:0; margin-top:20px; margin-bottom:10px; border-bottom:1px solid #ccc;}
#cv_item_form input {font-size:11px; background-color: #EEE;}
#cv_item_form select {font-size:11px; background-color: #EEE;}
#cv_item_form .formrow {border-top: #CCC 2px solid; padding-top: 5px;}


img.fileIcon { border:0; padding:5px; vertical-align:middle; }

div.toolsBox {float:right;width:150px;margin-left:15px;}

div.helpIcon {
    float:left;
    padding: 20px 0px 0px 20px;
    background: url(/images/helpicon.gif) no-repeat 0 2px;
}

ul#annual_report_review {list-style-type: none; margin:0; padding:0; font-size:11px;}

/* Styles added for media pages */
table#media_details {width:600px; padding:0; margin:0; border-collapse:collapse; border:1px solid #ccc;}
table#media_details td.column0 {color:#666; width:170px; border-bottom:1px solid #ccc;}
table#media_details td.column1 {border-bottom:1px solid #ccc;}
.media_detail_heading {color:#666; font-size:12px;}

/* Student Research */

.sr-project {
    padding: 3px;
    margin-bottom: 1px;
}

.sr-project:hover {
    background-color: rgba(111, 150, 158, 0.24);
    color: black;
}

.sr-project-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px !important;
    line-height: 19px;
    color: #A30500 !important;;
}

.sr-project-title-listing {
    margin: 10px 40px 10px 10px;
    font-size: 14px !important;
    line-height: 18px;
    color: #A30500 !important;;
    font-family: Arial,Georgia,sans-serif;
    border-bottom: 1px solid  #4f7a92;
    width: 90%;
}

.sr-project-sub1-listing {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 15px;
}

.sr-project-sub2-listing {
    float: right;
    font-size: 11px;
    font-style: italic;
    margin: 5px 40px 0px 15px;
    text-align: right;
}

.sr-project-name {
      font-size: 12px;
      color: #4f7a92 !important;
      clear: both;
      margin-left: 15px;
      margin-top: 5px;
  }

.sr-project-department {
    font-size: 12px;
    color: #507b93;
    float:right;
}

.sr-project-supervisor {
    font-size: 12px;
    color: #4f7a92 !important;
    clear: both;
    margin-left: 15px;
    margin-top: 5px;
}

.sr-project-other {
    margin-left: 5px;
}

.sr-project-abstract p {
    line-height: 2em; /* double space */
    margin-left: 20px;
    margin-top: 15px;
}

.sr-fancybox {
    width: 800px;
    padding: 5px;
    border: solid 2px #4f7a92;
}

a.sr-project-title-listing:hover {
    margin-top: 15px;
    font-size: 24px !important;
    line-height: 25px;
    color: white !important;
}

.sr-pageTotal {
    float:right;
    font-size: 14px;
    color: #4f7a92 !important;
    clear: both;
    margin-left: 15px;
    margin-top: 5px;
}

.sr-hasprojectlink {
    float:right;
    margin-right: 30px;
    border:none;
}

a.clickFancyBox:link {
    text-decoration:none;
    color: black;
}
a.clickFancyBox:visited {
    text-decoration:none;
    color: black;
}
a.clickFancyBox:hover {
    background-color: #009dbf;
    color: white;
}
a.clickFancyBox:active {
    text-decoration:none;
}

/*Tooltips and other form related ones*/
#dhtmlgoodies_tooltip{
        background-color:#EEE;
        border:1px solid #000;
        position:absolute;
        display:none;
        z-index:20000;
        padding:2px;
        font-size:0.9em;
        -moz-border-radius:6px;    /* Rounded edges in Firefox */
        font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
        
}
#dhtmlgoodies_tooltipShadow{
        position:absolute;
        background-color:#555;
        display:none;
        z-index:10000;
        opacity:0.7;
        filter:alpha(opacity=70);
        -khtml-opacity: 0.7;
        -moz-opacity: 0.7;
        -moz-border-radius:6px;    /* Rounded edges in Firefox */
}

/*footer*/

.footer-title{
    color:#007AA5;
    font-size:15px;
    font-weight:bold;
    font-family:arial;
}

.footer-address{
    width:240px;
    float:left;
    text-align:left;
    padding-left:25px;
}

.footer-address a:link img, 
.footer-address a:visited img, 
.footer-address a:hover img{
    border-style : none none none none; 
    text-decoration:none;
    margin-right:6px;
    float:left;
    padding:0px;
}

.footer-column{
    width:170px;
    text-align:left;
    float:left;
}

.footer-copyright,
.footer-address,
.footer-column a:link,
.footer-column a:visited,
.footer-copyright a:link,
.footer-copyright a:visited{
    color:#6E6E6E;
    text-decoration:none;
    font-family:arial;         
    font-size:12px;        
    line-height:20px;
    border-style : none
}


.preview {
    border-bottom: thin black solid;
    border-top: thin black solid;
    width: 500px;
    margin-top:10px;
    padding-left:10px;
    margin-bottom:10px;
    background-color: #FCC;
}
.preview em{
    font-size: smaller;

}

.footer-column a:hover,
.footer-copyright a:hover{
    color: #007AA5;
}

.pipe{
    color: #007AA5;
    padding: 0 3px 0 7px;
}

.footer-copyright{
    padding-top:60px;
    padding-bottom:20px;
    clear:left;
    padding-left:25px;
    padding-right:25px;
}

#honey{
    display:none;
}

#dashboardsub {
	border-top: 1px solid black;
}

/* --- Login dialog -------------------

/* Mask for background, by default is not display */
#mask {
    display: none;
    background: #000;
    position: fixed; left: 0; top: 0;
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.login-popup{
    display:none;
    background: white;
    padding: 10px;
    border: 5px solid #0066A2;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 10px #E5EFF6; /* CSS3 */
    -moz-box-shadow: 0px 0px 10px #E5EFF6; /* Firefox */
    -webkit-box-shadow: 0px 0px 10px #E5EFF6; /* Safari, Chrome */
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
    float: right;
    margin: -28px -28px 0 0;
    border: none;
}

fieldset {
    border:none;
}

form.signin .textbox label {
    display:block;
    padding-bottom:7px;
}

form.signin .textbox span {
    display:block;
}

form.signin p, form.signin span {
/*    color:#999;
    font-size:11px;
    line-height:18px*/;
}

form.signin .textbox input {
    background:#666666;
    border-bottom:1px solid #333;
    border-left:1px solid #000;
    border-right:1px solid #333;
    border-top:1px solid #000;
    color:#fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font:13px Arial, Helvetica, sans-serif;
    padding:6px 6px 4px;
    width:200px;
}

form.signin input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

.placeholder
{
    color: #aaa;
}

.button {
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color:#000;
    border-width:1px;
    border-radius:4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color:#333;
    cursor:pointer;
    display:inline-block;
    padding:6px 6px 4px;
    margin-top:10px;
    font:12px;
    width:214px;
}
.button:hover { background:#ddd; }

.research-form-index {
    float: right;
    width: 200px;
    margin: 8px;
    border: 1px solid;
}

.research-form-index li {
    margin-top: 8px;
}

.research-form-index h3 {
    margin: 10px;
}

.pdf {
    background: url(/images/icon-sm-pdf.gif) no-repeat left 0px;
    text-align: left;
    margin: 0 0 0 10px;
    padding: 0 0 0 17px;
}

.doc {
    background: url(/images/icon-sm-doc.gif) no-repeat left 0px;
    text-align: left;
    margin: 0 0 0 10px;
    padding: 0 0 0 17px;
}

.copy {
    background: url(/images/icon-sm-copy.gif) no-repeat left 0px;
    text-align: left;
    margin: 0 0 0 10px;
    padding: 0 0 0 17px;
}

.web {
    background: url(/images/icon-sm-firefox.gif) no-repeat left 0px;
    text-align: left;
    margin: 0 0 0 10px;
    padding: 0 0 0 17px;
}

.top {
    float:right;
    margin-right: 100px;
}

.field-help {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: normal;
    width: 100%;
    max-width: 550px;
    word-wrap: break-word;
    font-size: 1em;
    line-height: 1em;
    font-weight: 700;
    position: relative;
    color: #737373;
    letter-spacing: .01em;
}
#unihead
{
  height: 40px;
  background-color: transparent;
  background-image: url("/admin/images/logo-bg.jpg");
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0px 0px;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
}

#container
{
	width: 100%;
}

#subunihead {
	background-color: #a7a7aa;
	height: 30px;
}

td.user {
	font-size: 12px;
}
td.indinfo {
	font-size: 13px;
}

