<?php
//---------------------------------------------------------------------
// copyright (c) 2005 by Database Austin
//
// This software is provided under the GPL.
// Please see http://www.gnu.org/copyleft/gpl.html for details.
//---------------------------------------------------------------------
// Database Configuration for the Empowered Non-Profit software
//---------------------------------------------------------------------

define('CSNG_DB_VERSION', 0.10);          // CURRENT DB VERSION - DO NOT CHANGE!

    //-------------------------------------------------
    // CHANGE THE FOLLOWING define STATEMENTS TO MATCH
    // YOUR DATABASE ENVIRONMENT.
    //-------------------------------------------------
define('CS_DB_HOST', 'localhost');        // computer host; use 'localhost' for local
define('CS_DB_USER', 'bigGuy');           // user name
define('CS_DB_PWORD','mypassword');       // database password
define('CS_MSM_DB_NAME', 'mysql_schema_mgr'); // name of mySQL Schema Manager database


?>