{% extends "layout.twig" %}

{% block content %}
    <div id="cv_item_form" class="edit">
        <div class="padder">

        <h2 class='title'>Faculty Academic Information Reporting (FAIR) - Instructions</h2>

        <p>For assistance, please contact  <span class='codedirection' style='font-weight: bold' >ac.layortm@stroperlaunna</span>.</p>

        <p>This system (FAIR) allows you to build and print a <u>comprehensive</u> curriculum vitae (CV), which provides an
           overview of a faculty member's experience and other qualifications.</p>

        <h3>Purpose</h3>
        <ul style='font-size: 8; font-style:normal;'>
            <li>This system (FAIR) allows faculty to build and print a <u>comprehensive</u> curriculum vitae (CV) for
                internal submissions: grants, awards, etc.</li>
            <li>Each CV item can be associated with one (or more) available <b>targets :</b></li>
            <ul>
                <li>Annual Report</li>
                <li>Web Profile</li>
                <li>My CV</li>
                <li>CASN/CAQC</li>
            </ul>
        </ul>

        <h3>Categories</h3>
        <ul>
            <li>
                <a href="categories-overview.php" target="_blank">View All Available Categories</a>
            </li>
            <li>The categories match national standards for faculty CV data. Where needed, we  have added additional categories
                to better fit MRU.
            </li>
            <li>We suggest you open or print the help files below for reference when you get to work.</li>
        </ul>

        <h3>Targets</h3>
        <div style='margin-left:25px'>
            <h4>Annual Report (AR)</h4>
            <ul>
                <li>Items associated with the <i>Annual Report</i> set automatically accompany your annual report.</li>
                <li>This is normally activities that have occurred over the past year.</li>
                <li>These activities will anonymously contribute to annual CAQC activity reports.</li>
            </ul>
            <h4>Web (Web)</h4>
            <ul>
                <li>If you choose to have your research profile enabled on the Research website, then items associated with this
                    target will appear there.</li>
            </ul>
            <h4>MRU (CV)</h4>
            <ul>
                <li>Items associated with this target can be used to save/print a CV for use in internal grant submissions, etc.</li>
            </ul>
            <h4>QC</h4>
            <ul>
                <li>Items associated with this target are used for preparing reports for the Campus Alberta Quality Council.</li>
                <li>This category does not determine annual CAQC counts, rather this number is derived from annual report activity</li>
            </ul>
        </div>

        <h3>Example of Targets</h3>
        <div style='margin-left:25px'>
            <p>An example of CV item with targets :<br/>
            <img src='/images/eg1.gif' width="650px" style='border: 1px solid; padding: 10px; margin: 5px'><br/>
                           This item is set to appear in the individual's annual report and on the web, but not on their
                custom CV or CAQC report.
            </p>
         </div>

        <h3>Annual Report - Teaching, Scholarship or Service?</h3>
        <ul style='font-size: 8; font-style:normal;'>
            <li>Every type of item can appear in your Annual Report's Teaching, Scholarship or Service section, or in more
                than one.
            </li>
            <li>Each item has an option at the bottom:</li>
        </ul>
        <div style='margin-left:25px'>
            <img src='/images/eg2.gif' style='border: 1px solid; padding: 10px; margin: 5px'><br/>
        </div>
        <ul>
            <li>Check the one(s) that apply, and fill out the boxes that pop up if you have additional info.</li>
            <li><b>You must check at least one box or the item will not appear on the report.</b></li>
            <li>Don't feel that you have to fill every box. There are far more than you typically need.
        </ul>

        <h3>Download help files</h3>

        <p>
            1. <a href="content.php?page=xref" target='_blank'>Cross-reference guide - What category do I use for ...?</a><br/>
            2. <a href="cv.php?mr_action=generate_help">Quick Reference for Categories</a><br/>
        </p>
        </div>
    </div>
{% endblock %}
