{% extends "layout.twig" %}

{% block content %}
    <div id="cv_item_form" class="edit">
        <div class='padder'>
            <h2>Welcome to FAIR</h2>

            <p>
                The number of reasons for faculty to report on their activities has grown in recent years. Annual
                reports are required from everyone, but we also report to the Quality Council (numerically each year and
                with special CVs every five years), and activity profiles of various types are needed to keep our
                website(s) current. Faculy also require standard CVs built for internal grants and awards of various
                types.
            </p>
            <p>
                This new stand-alone site focuses specifically on entering and maintaining your activity information. It
                combines functionality previously deployed on the Annual Reporting System and the Research website. For
                2013 we'll keep both versions active, but this will become the only site to enter information as of
                2014.
            </p>

            <hr/>

            <h3>Web Profile</h3>
            <p>
                The 'About Me' section allows you to modify your personal details to configure how you appear on the
                profile pages on the research site. You can also select items from 'My Activities' to show in your web
                profile. We are working to align departmental pages with this system so that information only needs to
                be entered once.
            </p>

            <h3>My Activities</h3>
            <p>
                'My Activities' section allows you to save details of your annual activities (journals, conferences,
                'grants, etc) for use in your CV, Annual Report, Web Profile, or Quality Council reporting.
            </p>

            <h3>Annual Reports &amp; CAQC</h3>
            <p>
                For Annual Reports, you build your list of activities here (in My Activities), preview it on-screen, and
                then complete and submit the actual report on the Annual Reports site (link provided for quick access).
                For CAQC reporting, you can preview your contribution to the annual statistics here and select the items
                you will use in your comprehensive CAQC CV (which will be ready by August 15).
            </p>

            <p>
                If you encounter any issues then please provide feedback by sending an email to : <span class='codedirection'>ac.layortm@stroperlaunna</span>
            </p>
        </div>
    </div>
{% endblock %}
