{% extends "layout.twig" %}

{% block content %}
    <div  id="cv_item_form" class='edit'>
        <div class='padderwide'>
            <p>
                The "AR Activities" link generates a draft PDF so you can see the items to be included in your Annual Report. The contents are
                <strong>automatically included</strong> when you submit your report on the Annual Reports Site.
            </p>
            <p>The "MRU" link generates your institutional CV (anything with 'MRU" checked off). </p>
            <p>"CAQC CV is the special-purpose template for CAQC reporting.</p>
            <p>
                "CAQC Counts" compiles all the items in your currently selected Annual Reports set in the CAQC categories, and shows you the
                current total for yourself and the degree you are associated with.
            </p>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
