{% extends "layout.twig" %}

{% block content %}
    <div id="cv_item_form" class="edit">
        <div class="padder">
            <h2>Cross-Reference Guide</h2>
            <p>(Presented in order of popularity)</p>
            <dl>
                <dt>Professional Presentations</dt>
                <dd>At a conference: <u>Conferences/Conference Papers</u>. Indicate whether it was published with a checkbox.</dd>
                <dd>Else - about your research area: <u>Publications/Research Presentations</u></dd>
                <dd>Else - about your teaching or anything else: <u>Other Service/Non-Research Presentations</u></dd>
                <br>

                <dt>Workshop/Conference/Seminar/Course Attended</dt>
                <dd>Normally <u>Participation/Event Participation</u> and choose the type from the drop-down. </dd>
                <dd>If you taught or presented see above</dd>
                <br>

                <dt>Committee Memberships</dt>
                <dd>All types of committees are in <u>Other Service/Committee Memberships</u>. Choose type from the drop-down.</dd>
                <dd>External societes are found in <u>Participation/Membership in...</u></dd>
                <br>

                <dt>Papers and Books of All Types</dt>
                <dd>All journal papers, refereed or not, are in <u>Publications/Journal Articles</u>. There is a checkbox for 'refereed'.</dd>
                <dd>Published conference papers are in <u>Conferences/Conference Papers</u>. Indicate whether it was published with a checkbox.</dd>
                <dd>Other types of papers/books are found under headings: <u>Publications &amp; Other Scholarly Output</u> and under <u>Professional Communications</u>.</dd>
                <dd>If you edited something there are separate types.</dd>
                <br>

                <dt>Memberships</dt>
                <dd>Other than committee memberships, you report memberships in professional organizations, etc under the <u>Participation/Memberships</u> heading, where you'll also find 'Certifications'.</dd>
                <br>

                <dt>Evaluation of Colleagues</dt>
                <dd>This section is all under <u>Assessment/Review Activities</u>. The type of assessment determines which category you choose. For teaching assessments use <u>Other Assessments</u> </dd>
                <br>

                <dt>Coordination</dt>
                <dd>This may fit in several categories, depending on what you coordinated, but for teaching related coordination use <u>Teaching & Other Supervision - Coordination</u>.</dd>
                <br>

                <dt>Student Recruitment</dt>
                <dd>Most of this activity will fall under <u>Participation/Memberships - Event Participation</u>. </dd>
                <br>

                <dt>Materials Development</dt>
                <dd>Most activities will fall under <u>Teaching and Other - Course Development or Program Development</u>.</dd>
                <br>

                <dt>Library Research Classes</dt>
                <dd>Use <u>Courses Taught</u> and under 'Section' indicate that it was a Library Research Course</dd>
                <br>

                <dt>Projects, Unfunded Research Projects</dt>
                <dd>Use <u>Funding History/Grants</u> and indicate 'unfunded' in the 'Organization'</dd>
            </dl>
        </div>
    </div>
{% endblock %}
