


<form method="post" name="form1" action="hrimport.php?section=compare" >
<input type="hidden" name="hrchanges_id" value="~!hrchanges_id~">
<table border="1" cellpadding="3" style="border-collapse: collapse" bordercolor="#FFFFFF" cellspacing="1">
	<tr>
		<td colspan="4"  class="successhead">~!title~</td>
	</tr>
	<tr height="10"><td colspan='4' height="14" class="success">~!success~</td></tr>
    <tr>
    <td colspan="4">There are no records to process</td></tr>
    <tr>
	
</form>
</table>
