
<table>
<form method="post" name="form1" action="" onSubmit="">
	<tr>
		<td colspan="2"  class="successhead">AR: Tasks</td>
	</tr>
	<tr height="10"><td colspan='7' height="14" class="success"> ~!success~</td></tr>
	<tr>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan='4'>Choose user for action or select all users</td>
    </tr>
    <tr><td>User:</td>
    <td><select name='user_id'>
         <option value="">Select a user</option>
         ~!user_options~
         </select></td>
    </tr>
    <tr><td>Archive All</td><td><input type="checkbox" name="archiveall" \> </td></tr>
       
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" name="archive" value="Archive">&nbsp;&nbsp;<input type="submit" name="viewone" value="View Archives">
			</td>
	</tr>
</form>
</table>
