<script language="JavaScript" type="text/javascript">
<!--
arrValidationDesc=
	[
	[["required","Please enter a Title."]], // Title
	[["required","Please enter a VALID Date."],["date"]], // Post Date 
	[["required","Please enter a VALID Date."],["date"]], // Start Date 
	[], // Start Time 
	[],
	[], // End Time
	[],
	[],// End Date 
	[],// Location
	[],// Address
	[],// Contact
	[["required","Please enter a Synopsis"]],// Location
	[]// Description
	]; 
//-->
</script>

<form method="post" name="form1" action="" onSubmit="return validateForm(this,arrValidationDesc)">
<table>   
	<tr>
		<td colspan="2"  class="successhead">Add: Events</td>
	</tr>
	<tr height="10"><td colspan='7' height="14" class="success"> ~!success~</td></tr>
	<tr>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
    </tr>
	<tr>
		<td>Title:</td>
		<td><input type="text" name="title" maxlength="255" size="80"></td>
	</tr>
	<tr>
		<td colspan="2"><i>note: date format is day/mon/year e.g. today is: 
		<script language="JavaScript">
		var now = new Date();
		var year = now.getFullYear()-2000;
		document.write(now.getDate() + '/' + (now.getMonth()+1) + '/0' + (now.getFullYear()-2000));
		</script></i><br>
						<i>note: time format is hh:mm</i></td>
	</tr>
	<tr>
		<td>Post Date:</td>
		<td><input type="text" name="post_date" maxlength="10" size="10" value="~!post_date~"></td>
	</tr>
	<tr>
		<td>Start Date:</td>
		<td><input type="text" name="start_date" maxlength="10" size="10" value="d/m/yr"></td>
	</tr>
	<tr>
		<td>Start Time:</td>
		<td><input type="text" name="start_time" maxlength="5" size="5" value="hh:mm">
			<select name="start_ampm">
				<option value="">am</option>
				<option value="12">pm</option>
			</select></td>
	</tr>
	<tr>
		<td>End Time:</td>
		<td><input type="text" name="end_time" maxlength="5" size="5" value="hh:mm">
			<select name="end_ampm">
				<option value="">am</option>
				<option value="12">pm</option>
			</select></td>
	</tr>
	<tr>
		<td>Expiry Date:</td>
		<td><input type="text" name="expiry_date" maxlength="10" size="10"></td>
	</tr>
	<tr>
		<td valign="top">Location:</td>
		<td><input type="text" name="location" maxlength="255" size="80"></td>
	</tr>
	<tr>
		<td valign="top">Address:</td>
		<td><input type="text" name="address" maxlength="255" size="80"></td>
	</tr>
	<tr>
		<td valign="top">Contact:</td>
		<td><input type="text" name="contact" maxlength="255" size="80"></td>
	</tr>
	<tr>
		<td valign="top">Synopsis:</td>
		<td><textarea name="synopsis" rows="10" cols="80"></textarea></td>
	</tr>
	<tr>
		<td valign="top">Description:</td>
		<td><textarea name="description" rows="10" cols="80"></textarea></td>
	</tr>
	<tr>
		<td>Approved:</td>
		<td><input type="checkbox" checked name="approved" value="yes"></td>
	</tr>
		<tr>
		<td>Reminders Sent:</td>
		<td><input type="checkbox" name="reminders_sent" value="yes"></td>
	</tr>
		<tr>
		<td>Internal:</td>
		<td><input type="checkbox" name="internal" value="yes"></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" name="add" value="Add">&nbsp;&nbsp;
			<button onClick="window.location='events.php?section=view'">Back</button></td>
	</tr>
</form>
</table>
