<table border="1" cellpadding="3" style="border-collapse: collapse" bordercolor="#FFFFFF" cellspacing="1">
	<tr>
		<td colspan="8"  class="successhead">Viewing: Events</td>
	</tr>
	<tr height="10"><td colspan='8' height="14" class="success"> ~!success~</td></tr>
	<tr>
	  <td colspan='8'>&nbsp;</td>

  </tr>
	<tr>
		<td bgcolor="#000000">&nbsp;</td>
		<td bgcolor="#000000"><b style="color:#E1E1E1;font-size:10px">Title</b></td>
		<td bgcolor="#000000"><b style="color:#E1E1E1;font-size:10px">Start Date</b></td>
		<td bgcolor="#000000"><b style="color:#E1E1E1;font-size:10px">Location</b></td>
		<td bgcolor="#000000"><b style="color:#E1E1E1;font-size:10px">Contact</b></td>
		<td bgcolor="#000000"><b style="color:#E1E1E1;font-size:10px">Synopsis</b></td>
		<td bgcolor="#000000"><b style="color:#E1E1E1;font-size:10px">Approved</b></td>
		<td bgcolor="#000000"><b style="color:#E1E1E1;font-size:10px">Internal</b></td>
	</tr>
	~!output~
</table>
