


<form method="post" name="form1" action="hrimport.php?section=compare" >
<input type="hidden" name="hrchanges_id" value="~!hrchanges_id~">
<table border="1" cellpadding="3" style="border-collapse: collapse" bordercolor="#FFFFFF" cellspacing="1">
	<tr>
		<td colspan="4"  class="successhead">Compare: HR Imports</td>
	</tr>
	<tr height="10"><td colspan='4' height="14" class="success"> ~!success~</td></tr>
    <tr>
    <td colspan="4">~!flagtext~</td></tr>
    <tr>
	<tr>
	  <td colspan="4">&nbsp;</td>

    </tr>
    <tr bgcolor="#000000">
    <td><b style="color:#E1E1E1;font-size:10px">Name</b></td>
    <td><b style="color:#E1E1E1;font-size:10px">Field</b></td>
                <td><b style="color:#E1E1E1;font-size:10px">System</b></td>
        <td><b style="color:#E1E1E1;font-size:10px">HR Import</b></td>
    </tr>
    
        <td width="150" bgcolor='#D7D7D9'>~!username~</td>
        <td bgcolor='#D7D7D9'>~!field~</td>
        <td bgcolor='#D7D7D9'>~!oldval~</td>
        <td bgcolor='#D7D7D9'>~!newval~</td>
    </tr>


	<tr>
	  <td colspan="4">&nbsp;</td>

    </tr>

	<tr>

		<td>&nbsp;</td>
		<td><input type="submit" name="ignore" value="Ignore">&nbsp;&nbsp;
        <input type="submit" name="replace" value="Replace">&nbsp;&nbsp;
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
			
	</tr>
</form>
</table>
