<td align="left" valign="top" width="100%">

	<script language="JavaScript" type="text/javascript">
	<!--
	arrValidationDesc=
		[
		[["required","Please enter a URL."]], // link
		[["required","Please enter a URL."]], // newlink
		]; 
	//-->
	</script>
	<table border="0">
		<tr>
			<td colspan="2" class="successhead">Sitewide Change: Links </td>
		</tr>
		<tr height="10"><td colspan='7' height="14" class="success"> ~!success~</td></tr>
		<tr><td>&nbsp;</td></tr>
				<form method="post" name="form1" action="links_change.php" >
					
				<tr><td>Old URL:</td><td align='left'><input name="link" type="text" size="30" maxlength="255"></td></tr>
				<tr><td>New URL:</td><td align='left'><input name="newlink" type="text" size="30" maxlength="255"></td></tr>
				<tr><td colspan='2' align='center'><input style="background-color:#FF3333;" type='submit' name='change' value='Change'></td></tr>
				
				
				
				</form>	
				</table>

</td>
<td align="left" valign="top" bgcolor="white" width="20"><img src="/images/private/spacer.gif" alt="" height="10" width="20" border="0"></td>
