<script language="JavaScript" type="text/javascript">
<!--
arrValidationDesc=
	[]; 
//-->
</script>
<table>
<form method="post" name="form1" action="pictures.php?section=view&id=~!id~" onSubmit="return validateForm(this,arrValidationDesc)" enctype="multipart/form-data">
	<tr>
		<td colspan="2"  class="successhead">Update: Picture <td>
	</tr>
	<tr>
	  <td colspan="2">&nbsp;</td>
    </tr>
	<tr>
		<td colspan="2"><img src="~!file_name~"></td>
	</tr>
	<tr>
		<td width="40%">Caption:</td>
	  <td><input type="text" size="80" name="caption" value="~!caption~">
	    <a href="#"><img src="/images/help.gif" width="25" height="16" border="0" onClick="popHelp('picture_caption');return false;"></a></td>
	</tr>
	<tr>
		<td width="40%">New Picture:</td>
	  <td><input type="file" name="file_name" size="80" onChange="javascript:document.forms[0].resize.checked = true; document.forms[0].resize.checked = true;">
	    </td>
	</tr>
	<tr>
        <td width="40%">Resize Image:</td>
        <td><input type="checkbox" name="resize" value="yes">&nbsp;
        <input type="radio" name="type" value="front-main">Front page main
        <input type="radio" name="type" value="news">News
        <input type="radio" name="type" value="faculty">Faculty (lrg)
          </td>

    </tr>
        <tr>
        <td width="40%">Shadow Image:</td>
        <td><input type="checkbox" name="shadow" value="yes" >
    </td>
    </tr>
    <tr>
              <td width="40%">Feature?</td>
              <td><input type="checkbox" name="feature" value="yes"   ~!picture_feature~  >
              <img src='/images/helpicon.gif' width="20" height="20"  border="0" align="top" onMouseOver="ShowHelp('d1', 'Feature', 'This image is used for synopsis and front page items. To use within an item detail view, upload a second image.')" onMouseOut="HideHelp('d1')">
        <div style="display:none; font:Verdana, Arial, Helvetica, sans-serif; font-size:10px" id="d1"></div>
              </td>
    </tr>
    <tr><td>&nbsp;</td></tr> 
    <tr>
		<td width="40%">&nbsp;</td>
		<td><input type="submit" name="update" value="Update">&nbsp;&nbsp;
			<button type="button" onClick="window.location='pictures.php?section=view&delete=y&id=~!id~'" >Delete</button>&nbsp;&nbsp;
			<button type="button" onClick="window.location='pictures.php?section=view'">Back</button></td>
	</tr>
</form>
</table>
