td {font-family: Verdana, Arial, Helvetica, sans-serif; font-size:12px}
a.matchtd {font-family: Verdana, Arial, Helvetica, sans-serif; color:#954A00; text-decoration:none; font-size:12px}
a.matchtd:hover {font-family: Verdana, Arial, Helvetica, sans-serif; color:#661133; text-decoration:underline; font-size:12px}
b {font-family: Verdana, Arial, Helvetica, sans-serif;  text-decoration:none; font-size:11px}
b.little {font-family: Verdana, Arial, Helvetica, sans-serif;  text-decoration:none; font-size:9px}
a {font-family: Verdana, Arial, Helvetica, sans-serif; color:#954A00; text-decoration:none; font-size:11px}
a.menu {
	font-family: arial;
	color:#97979A;
	text-decoration:none;
	font-size:9px;
	line-height: 10px;
}
a.menu:hover {
	font-family: arial;
	color:#FFFFFF;
	text-decoration:underline;
	font-size:9px;
	line-height: 10px;
}
a:hover {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; text-decoration: underline; font-weight: none}

a.summary {font-family: Arial, Helvetica,Verdana, sans-serif; color:#954A00; text-decoration:none; font-size: 12px;}
a.summary:hover {font-family: Arial, Helvetica,Verdana,sans-serif; ; font-size: 12px;  color:#954A00;text-decoration: underline;}

a.side {font-family: Verdana, Arial, Helvetica, sans-serif; color:#6633CC; font-weight:none; text-decoration:none}
a.side:hover {font-family: Verdana, Arial, Helvetica, sans-serif; color:#9E92D4; font-weight:underline; text-decoration:underline;}

a.main {font-family: Arial, Helvetica, sans-serif; color:#FFFFFF; text-decoration:none}
a.main:hover {font-family: Arial, Helvetica, sans-serif; text-decoration:underline; color:#5253FC}

a.main2 {font-family: Arial, Helvetica, sans-serif; color:#666666; text-decoration:none}
a.main2:hover {font-family: Arial, Helvetica, sans-serif; text-decoration:underline; color:#5253FC}

a.mainbottom {font-family: arial; color:#000000; text-decoration:none}
a.mainbottom:hover {font-family: arial; text-decoration:underline; color:#5253FC}

a.subnav {font-family: arial; color:#000000; text-decoration:none}
a.subnav:hover {font-family: arial; text-decoration:underline; color:#FFFFFF}

.number {font-family:"Courier New", Courier, mono; font-size:13px}
.number:hover {font-family:"Courier New", Courier, mono; font-size:13px; text-decoration:underline;}
input {background-color: #FFC838;
	   border: 1px solid #885F03;
	   font-family: arial;
	   font-size: 11px;
	   font-weight: normal;
	   color: black;
	   text-decoration: none;}
select {background-color: #FFC838; 
	    border: 1px solid #885F03;
	    font-family: arial;
	    font-size: 11px;
	    font-weight: normal;
	    color: black;
	    text-decoration: none;}
select.fixed {background-color: #FFC838;
	    border: 1px solid #885F03;
	    font-family: "Courier New", Courier, mono;
	    font-size: 11px;
	    font-weight: normal;
	    color: black;
	    text-decoration: none;}
button {background-color: #FFC838;
		border: 1px solid #885F03;
		font-family: arial;
		font-size: 11px;
		font-weight: normal;
		color: black;
		text-decoration: none;}
textarea {background-color: #FFC838; 
	    border: 1px solid #885F03;
	    font-family: arial;
	    font-size: 11px;
	    font-weight: normal;
		color: black;
	    text-decoration: none;}
td {font-family:arial;}
.successhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	background-color: #CCCCCC;
	padding: 4px;
	font-weight: 900;
}
h3 {
	font-family: "Helvetics 95 Black", "Helvetica Black", "Arial Black", Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #FFFFFF;
	padding: 1px 1px 1px 4px;
	font-weight: normal;
	margin-bottom: 5px;
	background-color: #CC6600;
	text-align: left;
	letter-spacing: 0.7em;
	word-spacing: 1.5em;
}
.staticsubhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #CCCCCC;
	padding: 2px;
	font-weight: bold;
	margin-bottom: 5px;
}
.staticsubheadanchor {
font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	background-color: #CCCCCC; padding: 2px; font-weight: bold; width:800; height:17; vertical-align:middle;
}
p.menuitems {
	margin-bottom:2px;
	margin-top: 8px;
	line-height:12px;
}
.sactableheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	font-weight: bolder;
}
.success {
	font-family: Arial, Helveti1a, sans-serif;
	font-size: 10px;
		padding: 0px 1px 1px 4px;
	font-weight: bold;
	margin-bottom: 5px;
	background-color: #AAAAAA;
	color: #FFFFFF;
	
}
.total {
	border: 1px solid #885F03;
	background-color:white; 
	font-weight:bold; 
	font-size:12px;
	text-align:right;
}
.money {
	text-align:right;
}
.whtablehead{
	color:#E1E1E1;
	font-size:12px;
	
	font-weight:bold
}
label.t1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	}
