html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}

body {
	line-height:1.5;
}

table {
	border-collapse:separate;
	border-spacing:0;
}

caption,th,td {
	text-align:left;
	font-weight:400;
}

table,td,th {
	vertical-align:middle;
}

blockquote:before,blockquote:after {
	content:"";
}

q:before,q:after {
	content:"";
}

blockquote,q {
	quotes:"" "";
}

a img {
	border:none;
}

body {
	font-size:75%;
	color:#222;
	background:#fff;
	font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:400;
	color:#111;
}

h1 {
	font-size:3em;
	line-height:1;
	margin-bottom:.5em;
}

h2 {
	font-size:2em;
	margin-bottom:.75em;
}

h3 {
	font-size:1.5em;
	line-height:1;
	margin-bottom:1em;
}

h4 {
	font-size:1.2em;
	line-height:1.25;
	margin-bottom:1.25em;
}

h5 {
	font-size:1em;
	font-weight:700;
	margin-bottom:1.5em;
}

h6 {
	font-size:1em;
	font-weight:700;
}

h1 img,h2 img,h3 img,h4 img,h5 img,h6 img {
	margin:0;
}

p {
	margin:0 0 1.5em;
	font-size:14px;
}

p img.left {
	float:left;
	margin:1.5em 1.5em 1.5em 0;
	padding:0;
}

p img.right {
	float:right;
	margin:1.5em 0 1.5em 1.5em;
}

a {
	color:#009;
	text-decoration:underline;
}

a:focus,a:hover {
	color:#000;
}

blockquote {
	margin:1.5em;
	color:#666;
	font-style:italic;
}

strong {
	font-weight:700;
}

em {
	font-style:italic;
}

dfn {
	font-style:italic;
	font-weight:700;
}

sup,sub {
	line-height:0;
}

abbr,acronym {
	border-bottom:1px dotted #666;
}

address {
	margin:0 0 1.5em;
	font-style:italic;
}

del {
	color:#666;
}

pre {
	margin:1.5em 0;
	white-space:pre;
	font:1em 'andale mono','lucida console',monospace;
	line-height:1.5;
}

code,tt {
	font:1em 'andale mono','lucida console',monospace;
	line-height:1.5;
}

li ul,li ol {
	margin:0 1.5em;
}

ul,ol {
	margin:0 1.5em 1.5em;
}

ul {
	list-style-type:disc;
}

ol {
	list-style-type:decimal;
}

dl {
	margin:0 0 1.5em;
}

dl dt {
	font-weight:700;
}

dd {
	margin-left:1.5em;
}

table {
	margin-bottom:1.4em;
	width:100%;
}

th {
	font-weight:700;
}

thead th {
	background:#c3d9ff;
}

th,td,caption {
	padding:4px 10px 4px 5px;
}

tr.even td {
	background:#e5ecf9;
}

tfoot {
	font-style:italic;
}

caption {
	background:#eee;
}

.small {
	font-size:.8em;
	margin-bottom:1.875em;
	line-height:1.875em;
}

.large {
	font-size:1.2em;
	line-height:2.5em;
	margin-bottom:1.25em;
}

.hide {
	display:none;
}

.quiet {
	color:#666;
}

.loud {
	color:#000;
}

.highlight {
	background:#ff0;
}

.added {
	background:#060;
	color:#fff;
}

.removed {
	background:#900;
	color:#fff;
}

.first {
	margin-left:0;
	padding-left:0;
}

.last {
	margin-right:0;
	padding-right:0;
}

.top {
	margin-top:0;
	padding-top:0;
}

.bottom {
	margin-bottom:0;
	padding-bottom:0;
}

.container {
	width:950px;
	margin:0 auto;
}

.showgrid {
	background:url(src/grid.png);
}

.column {
	float:left;
	margin-right:10px;
}

div.span-1,div.span-2,div.span-3,div.span-4,div.span-5,div.span-6,div.span-7,div.span-8,div.span-9,div.span-10,div.span-11,div.span-12,div.span-13,div.span-14,div.span-15,div.span-16,div.span-17,div.span-18,div.span-19,div.span-20,div.span-21,div.span-22,div.span-23,div.span-24 {
	float:left;
	margin-right:10px;
}

.last,div.last {
	margin-right:0;
}

.span-1 {
	width:30px;
}

.span-2 {
	width:70px;
}

.span-3 {
	width:110px;
}

.span-4 {
	width:150px;
}

.span-5 {
	width:190px;
}

.span-6 {
	width:230px;
}

.span-7 {
	width:270px;
}

.span-8 {
	width:310px;
}

.span-9 {
	width:350px;
}

.span-10 {
	width:390px;
}

.span-11 {
	width:430px;
}

.span-12 {
	width:470px;
}

.span-13 {
	width:510px;
}

.span-14 {
	width:550px;
}

.span-15 {
	width:590px;
}

.span-16 {
	width:630px;
}

.span-17 {
	width:670px;
}

.span-18 {
	width:710px;
}

.span-19 {
	width:750px;
}

.span-20 {
	width:790px;
}

.span-21 {
	width:830px;
}

.span-22 {
	width:870px;
}

.span-23 {
	width:910px;
}

.span-24,div.span-24 {
	width:950px;
	margin:0;
}

input.span-1,textarea.span-1,select.span-1 {
	width:30px!important;
}

input.span-2,textarea.span-2,select.span-2 {
	width:50px!important;
}

input.span-3,textarea.span-3,select.span-3 {
	width:90px!important;
}

input.span-4,textarea.span-4,select.span-4 {
	width:130px!important;
}

input.span-5,textarea.span-5,select.span-5 {
	width:170px!important;
}

input.span-6,textarea.span-6,select.span-6 {
	width:210px!important;
}

input.span-7,textarea.span-7,select.span-7 {
	width:250px!important;
}

input.span-8,textarea.span-8,select.span-8 {
	width:290px!important;
}

input.span-9,textarea.span-9,select.span-9 {
	width:330px!important;
}

input.span-10,textarea.span-10,select.span-10 {
	width:370px!important;
}

input.span-11,textarea.span-11,select.span-11 {
	width:410px!important;
}

input.span-12,textarea.span-12,select.span-12 {
	width:450px!important;
}

input.span-13,textarea.span-13,select.span-13 {
	width:490px!important;
}

input.span-14,textarea.span-14,select.span-14 {
	width:530px!important;
}

input.span-15,textarea.span-15,select.span-15 {
	width:570px!important;
}

input.span-16,textarea.span-16,select.span-16 {
	width:610px!important;
}

input.span-17,textarea.span-17,select.span-17 {
	width:650px!important;
}

input.span-18,textarea.span-18,select.span-18 {
	width:690px!important;
}

input.span-19,textarea.span-19,select.span-19 {
	width:730px!important;
}

input.span-20,textarea.span-20,select.span-20 {
	width:770px!important;
}

input.span-21,textarea.span-21,select.span-21 {
	width:810px!important;
}

input.span-22,textarea.span-22,select.span-22 {
	width:850px!important;
}

input.span-23,textarea.span-23,select.span-23 {
	width:890px!important;
}

input.span-24,textarea.span-24,select.span-24 {
	width:940px!important;
}

.append-1 {
	padding-right:40px;
}

.append-2 {
	padding-right:80px;
}

.append-3 {
	padding-right:120px;
}

.append-4 {
	padding-right:160px;
}

.append-5 {
	padding-right:200px;
}

.append-6 {
	padding-right:240px;
}

.append-7 {
	padding-right:280px;
}

.append-8 {
	padding-right:320px;
}

.append-9 {
	padding-right:360px;
}

.append-10 {
	padding-right:400px;
}

.append-11 {
	padding-right:440px;
}

.append-12 {
	padding-right:480px;
}

.append-13 {
	padding-right:520px;
}

.append-14 {
	padding-right:560px;
}

.append-15 {
	padding-right:600px;
}

.append-16 {
	padding-right:640px;
}

.append-17 {
	padding-right:680px;
}

.append-18 {
	padding-right:720px;
}

.append-19 {
	padding-right:760px;
}

.append-20 {
	padding-right:800px;
}

.append-21 {
	padding-right:840px;
}

.append-22 {
	padding-right:880px;
}

.append-23 {
	padding-right:920px;
}

.prepend-1 {
	padding-left:40px;
}

.prepend-2 {
	padding-left:80px;
}

.prepend-3 {
	padding-left:120px;
}

.prepend-4 {
	padding-left:160px;
}

.prepend-5 {
	padding-left:200px;
}

.prepend-6 {
	padding-left:240px;
}

.prepend-7 {
	padding-left:280px;
}

.prepend-8 {
	padding-left:320px;
}

.prepend-9 {
	padding-left:360px;
}

.prepend-10 {
	padding-left:400px;
}

.prepend-11 {
	padding-left:440px;
}

.prepend-12 {
	padding-left:480px;
}

.prepend-13 {
	padding-left:520px;
}

.prepend-14 {
	padding-left:560px;
}

.prepend-15 {
	padding-left:600px;
}

.prepend-16 {
	padding-left:640px;
}

.prepend-17 {
	padding-left:680px;
}

.prepend-18 {
	padding-left:720px;
}

.prepend-19 {
	padding-left:760px;
}

.prepend-20 {
	padding-left:800px;
}

.prepend-21 {
	padding-left:840px;
}

.prepend-22 {
	padding-left:880px;
}

.prepend-23 {
	padding-left:920px;
}

div.border {
	padding-right:4px;
	margin-right:5px;
	border-right:1px solid #eee;
}

div.colborder {
	padding-right:24px;
	margin-right:25px;
	border-right:1px solid #eee;
}

.pull-1 {
	margin-left:-40px;
}

.pull-2 {
	margin-left:-80px;
}

.pull-3 {
	margin-left:-120px;
}

.pull-4 {
	margin-left:-160px;
}

.pull-5 {
	margin-left:-200px;
}

.pull-6 {
	margin-left:-240px;
}

.pull-7 {
	margin-left:-280px;
}

.pull-8 {
	margin-left:-320px;
}

.pull-9 {
	margin-left:-360px;
}

.pull-10 {
	margin-left:-400px;
}

.pull-11 {
	margin-left:-440px;
}

.pull-12 {
	margin-left:-480px;
}

.pull-13 {
	margin-left:-520px;
}

.pull-14 {
	margin-left:-560px;
}

.pull-15 {
	margin-left:-600px;
}

.pull-16 {
	margin-left:-640px;
}

.pull-17 {
	margin-left:-680px;
}

.pull-18 {
	margin-left:-720px;
}

.pull-19 {
	margin-left:-760px;
}

.pull-20 {
	margin-left:-800px;
}

.pull-21 {
	margin-left:-840px;
}

.pull-22 {
	margin-left:-880px;
}

.pull-23 {
	margin-left:-920px;
}

.pull-24 {
	margin-left:-960px;
}

.pull-1,.pull-2,.pull-3,.pull-4,.pull-5,.pull-6,.pull-7,.pull-8,.pull-9,.pull-10,.pull-11,.pull-12,.pull-13,.pull-14,.pull-15,.pull-16,.pull-17,.pull-18,.pull-19,.pull-20,.pull-21,.pull-22,.pull-23,.pull-24 {
	float:left;
	position:relative;
}

.push-1 {
	margin:0 -40px 1.5em 40px;
}

.push-2 {
	margin:0 -80px 1.5em 80px;
}

.push-3 {
	margin:0 -120px 1.5em 120px;
}

.push-4 {
	margin:0 -160px 1.5em 160px;
}

.push-5 {
	margin:0 -200px 1.5em 200px;
}

.push-6 {
	margin:0 -240px 1.5em 240px;
}

.push-7 {
	margin:0 -280px 1.5em 280px;
}

.push-8 {
	margin:0 -320px 1.5em 320px;
}

.push-9 {
	margin:0 -360px 1.5em 360px;
}

.push-10 {
	margin:0 -400px 1.5em 400px;
}

.push-11 {
	margin:0 -440px 1.5em 440px;
}

.push-12 {
	margin:0 -480px 1.5em 480px;
}

.push-13 {
	margin:0 -520px 1.5em 520px;
}

.push-14 {
	margin:0 -560px 1.5em 560px;
}

.push-15 {
	margin:0 -600px 1.5em 600px;
}

.push-16 {
	margin:0 -640px 1.5em 640px;
}

.push-17 {
	margin:0 -680px 1.5em 680px;
}

.push-18 {
	margin:0 -720px 1.5em 720px;
}

.push-19 {
	margin:0 -760px 1.5em 760px;
}

.push-20 {
	margin:0 -800px 1.5em 800px;
}

.push-21 {
	margin:0 -840px 1.5em 840px;
}

.push-22 {
	margin:0 -880px 1.5em 880px;
}

.push-23 {
	margin:0 -920px 1.5em 920px;
}

.push-24 {
	margin:0 -960px 1.5em 960px;
}

.push-1,.push-2,.push-3,.push-4,.push-5,.push-6,.push-7,.push-8,.push-9,.push-10,.push-11,.push-12,.push-13,.push-14,.push-15,.push-16,.push-17,.push-18,.push-19,.push-20,.push-21,.push-22,.push-23,.push-24 {
	float:right;
	position:relative;
}

.prepend-top {
	margin-top:1.5em;
}

.append-bottom {
	margin-bottom:1.5em;
}

.box {
	padding:1.5em;
	margin-bottom:1.5em;
	background:#E5ECF9;
}

hr {
	background:#ddd;
	color:#ddd;
	clear:both;
	float:none;
	width:100%;
	height:.1em;
	margin:0 0 1.45em;
	border:none;
}

hr.space {
	background:#fff;
	color:#fff;
}

.clearfix:after,.container:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden;
}

.clearfix,.container {
	display:block;
}

.clear {
	clear:both;
}

label {
	font-weight:700;
	display:block;
	font-size:20px;
}

form {
	margin-bottom:1em;
}

.radio {
	float:left;
}

fieldset {
	padding:0;
	margin:0 0 1.5em;
	border-bottom:1px solid #ddd;
}

fieldset:focus {
	background:#ff0;
}

legend {
	font-weight:700;
	font-size:1.2em;
	border:1px solid #ddd;
	margin-left:20px;
	padding:2px 10px;
}

fieldset#establishment {
	border:1px solid #ddd;
	float:left;
}

input.text {
	width:300px;
	padding:5px;
}

input.title {
	width:300px;
	padding:5px;
	font-size:1.5em;
}

textarea {
	width:580px;
	height:100px;
	padding:5px;
	font-family:Arial,sans-serif;
	font-size:14px;
	margin-bottom:20px;
}

.radiobox1 {
	width: 80px; 
	float:right; 
	white-space: nowrap; 
	margin-top: 28px;
	}

.error,.errorExplanation,.notice,.success {
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

.error,.errorExplanation {
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

.fieldWithErrors {
	background:url(/images/invalid.png) no-repeat top right;
}

.notice {
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

.success {
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

.error a {
	color:#8a1f11;
}

.notice a {
	color:#514721;
}

.success a {
	color:#264409;
}

body {
	background:#eee;
}

h1,h2 {
	font-weight:700;
	clear:both;
}

h1,h2,h3 {
	letter-spacing:-1px;
}

li p {
	margin-bottom:1em;
}

#top_header {
	background:#262223;
	color:#fff;
	font-size:16px;
}

#top_header a {
	color:#F7941C;
	text-decoration:underline;
	font-size:16px;
}

#top_header p {
	float:left;
	margin:0;
}

#top_header p a {
	float:left;
	color:#fff;
	text-decoration:none;
}

#top_header a:hover {
	text-decoration:underline;
}

#top_header span {
	float:right;
	font-style:italic;
	display:block;
}

#logo {
	margin-top:1em;
	padding-right:1em;
	float:left;
	
}

#title {
	background:url(../images/title.png) repeat-x #262223;
	height:6em;
	border-bottom:10px solid #d2d1d1;
	
}

#title h2 {
	float:left;
	color:#eee;
	margin-top:.75em;
	color:#fff;
}

#home_link {
	color:#eee;
	text-decoration:none;
}

#content_container {
	background:#fff;
	padding-top:1.5em;
	border-top:10px solid #5FC5B8;
	margin-top:-10px;
	border-bottom:5px solid #d2d1d1;
	margin-bottom:2em;
}

#content {
	margin:0 20px;
}

#content h2 {
	border-top:3px solid #bbb;
	border-bottom:1px solid #ddd;
}

#content .errorExplanation h2 {
	font-size:1.5em;
	border:none;
	color:#8a1f11;
}

#sidebar_container {
	background:url(../images/sidebar.png) repeat-x #9befe4;
	margin:-10px 0 0 20px;
	padding-top:10px;
	border-bottom:10px solid #5FC5B8;
	position:relative;
	width:130px;
	float:left;
}

#sidebar_content ul {
	margin:0;
	padding:0;
}

#sidebar_content li {
	font-size:1.2em;
	list-style-type:none;
	margin:1em 1em 1em 1.5em;
}

#sidebar_content a {
	color:#000;
	text-decoration:none;
}

#sidebar_content a:hover {
	text-decoration:underline;
}

#sidebar_content img {
	margin:0 7px -3px -5px;
}

.feature_box {
	list-style-type:none;
	border-top:3px solid #5FC5B8;
	border-bottom:3px solid #5FC5B8;
	padding:1em;
	background:#9befe4;
	margin:2em;
}

.feature_boxyell {
	list-style-type:none;
	border-top:3px solid #8E2323;
	padding:1em;
	border-bottom:3px solid #8E2323;
	background:#FFE600;
	h2border:none!important;
}	
}

.feature_box h2 {
	border:none!important;
}

#references li h3,#peer_reviewers li h3,#reviewer_conflicts li h3,#mesh_codes li h3,#mentors li h3 {
	margin-bottom:.2em;
	font-weight:700;
}

#references li p,#peer_reviewers li p,#reviewer_conflicts li p,#mesh_codes li p,#mentors li p {
	margin:0;
	line-height:1.2em;
}

#reviewer_conflicts li {
	background:#f7a748;
	border-color:#f08200;
}

form .button_container {
	margin-left:220px;
	margin-top:2em;
	margin-bottom:2em;
	clear:both;
}

label em {
	font-size:11px;
	font-style:normal;
	font-weight:400;
	float:right;
	clear:left;
}

.delete_button {
	float:right;
}

h3 a {
	color:#000;
}

h3 a span {
	float:right;
	padding-right:5px;
	margin-top:-2px;
}

h3 a:hover {
	text-decoration:underline;
}

#continue_button {
	text-align:center;
}

embed,#abstract_container {
	height:500px;
}

#ie_historyFrame,#firefox_anchorDiv,#safari_formDiv,#safari_rememberDiv {
	width:0;
	height:0;
	display:none;
}

.note_box {
	background:#eee;
	text-align:center;
	padding:1em;
	border-top:5px solid #aaa;
	border-bottom:5px solid #aaa;
}

.question {
	background:#eee;
	text-align:center;
	padding:1em;
	border-top:5px solid #aaa;
	border-bottom:5px solid #aaa;
	text-align:left;
}

.review_edit {
	float:right;
	font-size:14px;
	font-weight:700;
	margin-top:9px;
}

font {
	font-size:14px;
}

#review_print_warning {
	display:none;
}

.button {
	margin-top:14px;
	text-align:center;
}

.button a {
	background:#9befe4;
	color:#000;
	padding:10px;
	border-top:3px solid #5FC5B8;
	border-bottom:3px solid #5FC5B8;
}

.button a:hover {
	color:#5FC5B8;
}

.button h3 {
	font-weight:700;
}

#registrations tr td {
	border:1px solid #bbb;
}

#registrations tr td.received {
	background:green;
	color:#fff;
}

ol {
	font-size:1.2em;
	margin-left:20px;
}

#content ul {
	font-size:1.2em;
}

.center {
	text-align:center;
}

ul.questions,ul#affected {
	margin:0;
	padding:0;
}

ul.questions li,ul#affected li {
	margin:0 0 1em;
	padding:10px 10px;
	background:url(../images/question.png) repeat-x #c7c7c7;
	list-style-type:none;
	position:relative;
	overflow:hidden;
}

ul.questions li p,ul#affected li p {
	margin:0;
}

ul.questions li .more_information_link,ul#affected li .more_information_link {
	float:left;
	margin-right:5px;
	margin-top:3px;
}

ul.questions li p.more_information,ul#affected li p.more_information {
	margin-top:1em;
	margin-bottom:1em;
	padding-top:1em;
	border-top:1px solid #aaa;
	font-style:italic;
	display:none;
}

ul.questions li .title,ul#affected li .title {
	margin-bottom:15px;
}

ul.questions li .ribbon,ul#affected li .ribbon {
	width:40px;
	height:53px;
	background:url(../images/ribbon.png) no-repeat;
	position:absolute;
	top:50%;
	right:-40px;
	margin-top:-19px;
	font-weight:700;
	text-align:center;
	padding-top:4px;
}

ul.questions li .ribbon small,ul#affected li .ribbon small {
	font-weight:400;
	font-size:10px;
	margin-top:-5px;
	display:block;
}

ul.questions li.research,ul#affected li.research {
	background:url(../images/question_blue.png) repeat-x #5faec5;
}

ul.questions li.research .more_information,ul#affected li.research .more_information {
	border-top:1px solid #478091;
}

ul.questions li.quality,ul#affected li.quality {
	background:url(../images/question_green.png) repeat-x #5fc583;
}

ul.questions li.quality .more_information,ul#affected li.quality .more_information {
	border-top:1px solid #418559;
}

ul.questions .radioset,ul#affected .radioset {
	float:right;
	margin:10px 0 0 10px;
}

ul#affected {
	margin-bottom:1em;
}

ul#affected li {
	padding:15px;
	overflow:visible;
}

#score_cutoff {
	display:none;
}

#score_cutoff p {
	font-size:12px;
	font-style:italic;
}

textarea {
	width:735px;
	height:3em;
}

h3 {
	margin-bottom:9px;
}

#date {
	float:right;
}

#response_set_title {
	padding:10px;
	font-size:16px;
	font-weight:700;
	font-family:Arial,sans-serif;
}

button.next {
	float:right;
	clear:both;
	margin-bottom:1em;
}

button.next.ui-state-default .ui-button-text {
	background:url(../images/next_button_bg.png) 0 0 repeat-x!important;
	color:#224541;
	border-color:#469389;
}

button.next.ui-state-hover .ui-button-text {
	background:url(../images/next_button_bg.png) 0 0 repeat-x!important;
	color:#469389;
	border-color:#9d9d9d;
	-moz-box-shadow:0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 0 8px #d4d4d4;
	box-shadow:0 0 8px #d4d4d4;
}

button.next.ui-state-active .ui-button-text {
	background:url(../images/next_button_bg.png) 0 bottom repeat-x!important;
	color:#4f4f4f;
	border-color:#b6b6b6;
}

#question_block_2,#question_block_3 {
	display:none;
}

.results,#reset {
	font-size:1.6em;
	letter-spacing:-1px;
	font-weight:700;
	width:350px;
	text-align:center;
	margin:0 auto;
	padding:10px;
	clear:both;
	margin-bottom:1em;
}

.red {
	background:#e20101;
	border:5px solid #bd1313;
	color:#fff;
}

.green {
	background:#08c400;
	border:5px solid #005b12;
	color:#fff;
}

.blue {
	background:#00b6e3;
	border:5px solid #000689;
	color:#fff;
}

.orange {
	background:#ff8b00;
	border:5px solid #dc8b2b;
	color:#fff;
}

.yellow {
	background:#fff200;
	border:5px solid #bfbb6d;
	color:#000;
}

.results.research {
	background:#99dbee;
	border:5px solid #60aec5;
	color:#152e35;
}

.results.quality {
	background:#96ecb4;
	border:5px solid #5fc482;
	color:#000;
}

.both {
	background:#bbb;
	border:5px solid #838383;
	color:#000;
}

#reset {
	background:#9befe4;
	border:5px solid #5FC5B8;
	color:#000;
	width:150px;
}

#reset a {
	color:#316d65;
}

#choose {
	margin-top:1em;
}

#legend {
	float:left;
	width:350px;
}

#legend img {
	margin-top:-5px;
	margin-right:3px;
}

#flowchart {
	float:right;
}

#footer {
	clear:both;
	text-align:center;
	width:780px;
}

#intro,#response_set_url,#save_box,#feedback_box,#email_box,#notice,#citation,#mobile_flowchart,#mobile_reset {
	display:none;
}

#feedback_text {
	width:500px;
	height:200px;
}

#score_cutoff table {
	display:none;
	font-size:14px;
}

#score_cutoff table tr td {
	color:#000!important;
}